# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Tex compiled files
*.aux
*.dvi
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.bbl

# Other files
*.pdf
.DS_Store
